<a href="https://colab.research.google.com/github/sruthisharma88/pythonassignment/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1=['apple','banana','carrot','grapes']
for i in list1:
  print(i)

apple
banana
carrot
grapes

In [ ]:
list1=['apple','mango','guava']
for i in range(len(list1)):
  print(i)
  print(list1)
  print(list1[i])

0
['apple', 'mango', 'guava']
apple
1
['apple', 'mango', 'guava']
mango
2
['apple', 'mango', 'guava']
guava

In [ ]:
#union
set1={"apple","carrot","tomatoes"}
set2={1,2,3,4,8}
set3=set2.union(set1)
print(set3)

{'tomatoes', 1, 2, 3, 4, 8, 'apple', 'carrot'}

In [ ]:
#update
ab={"apple",1,3,6}
ba={"girl",8,9,10}
ab.update(ba)
print(ab)

{1, 3, 6, 8, 9, 10, 'apple', 'girl'}

In [ ]:
set1={"sruthi","swetha"}
set2={"jaga","paddu"}
set1.update(set2)
print(set1)

{'jaga', 'paddu', 'sruthi', 'swetha'}

In [ ]:
set1.union(set2)
print(set1)

{'jaga', 'paddu', 'sruthi', 'swetha'}

In [ ]:
set1.intersection(set2)

{'jaga', 'paddu'}

In [ ]:
set1.intersection_update(set2)
print(set1)

{'paddu', 'jaga'}

In [ ]:
set2={"t","g","h","u"}
set5={"t","g","r","w"}
set5.symmetric_difference_update(set2)   #duplicates are not printed
print(set5)

{'r', 'w', 'h', 'u'}

In [ ]:
set6=set5.symmetric_difference(set2)
print(set6)

{'g', 'r', 't', 'w'}

In [ ]:
set7=set2.symmetric_difference(set5)
print(set7)

{'g', 'r', 't', 'w'}

In [ ]:
#dictionary constructor
wang=dict((name=90,carrot==100,bat==300))
print(wang)

SyntaxError: ignored

In [ ]:
#defined function
def sruthi():
  print("are you okay?")
sruthi()

are you okay?

In [ ]:
def sruthi2(name):
  print(name + "are you okAY")
  sruthi2("swetha")

In [2]:
age=int(input("enter the number:"))
if age>=18:
  print("congs,you can drive")

enter the number:20
congs,you can drive

In [3]:
age=int(input("enter the number:"))
if age>=18:
  print("congs,you can drive")
else:
  print("sorry, you cannot drive")

enter the number:16
sorry, you cannot drive

In [9]:
#capitalise name
def format_name():
  first_name=input("enter the name")
  second_name=input("enter the name")

  format_first_name=first_name.capitalize()
  format_second_name=second_name.capitalize()
  print("student name is",format_first_name, format_second_name)
format_name()

enter the namesruthi sharma
enter the namevamkayalapati
student name is Sruthi sharma Vamkayalapati

In [18]:
#even numbers
def print_even_number():
  num1=int(input("enter the number:"))
  even_number= []
  for num in range(1, n+1):
      if num%2==0:
        even_number.append(num)
        print("even numbers",num1,"are:", even_number)

  print_even_number()

In [32]:

XXx=lambda a,b,c:a*b*c
print(XXx(23,67,90))

138690

In [35]:
 #even or odd
 f=lambda x:"even" if x%2==0else "odd"
 print(f(45))

odd

In [40]:
max_mum=lambda e: "greater" if e>=str(89) else "lesser"
print(max_mum(input("enter the number")))

enter the number1200
lesser

In [45]:
maxx=lambda b:b*b*b
print(maxx(int(input("enter the number"))))

enter the number123
1860867

In [48]:
leko=lambda o,p:o+p
print(leko(99,88))

187

In [51]:
leki=lambda: int(input("enter the number:"))+int(input("enter the number"))
print(leki)

<function <lambda> at 0x79a515bd2cb0>

In [4]:
lol=lambda x:[i**2 for i in x]
print(lol([2,3,4]))

[4, 9, 16]

In [6]:
square=lambda f:[i*8 for i in f]
print(square([9,7,6]))

[72, 56, 48]

In [5]:
products=[{"apple":"phone","price":100000},
          {"carrot":"balance",'price':2000000},
          {"earning":"mango",'price':900000}]
sorted_products= sorted(products, key=lambda x:x['price'],reverse=True) #reverse order

for products in sorted_products:
  print(products)

{'carrot': 'balance', 'price': 2000000}
{'earning': 'mango', 'price': 900000}
{'apple': 'phone', 'price': 100000}

In [8]:
#recursion
def rec_sum(n):
  if n==1:
    return 1
  else:
      return n+rec_sum(n-1)#---->calling the function within the function
print(rec_sum(5))#5+4+3+2+1

15

In [13]:
def sam_chocolate(l):
  if l==0:
    return 5
  else:
    return l- sam_chocolate(l-5)
    print(sam_chocolate(9))

In [25]:
#factorial of the number using recursion
n=int(input("enter the number"))
def recrusive_factorial(n):
  if n==1:
    return 1
  else:
    return n*recrusive_factorial(n-1)
print(recrusive_factorial(88)) #output =720
#checking the input is valid or not
if n< 0:
  print("sorry in valid number")
elif n== 0:
  print("congo")
else:
  print("the factorial of the", n,"=",recrusive_factorial(n))

enter the number88
185482642257398439114796845645546284380220968949399346684421580986889562184028199319100141244804501828416633516851200000000000000000000
the factorial of the 88 = 185482642257398439114796845645546284380220968949399346684421580986889562184028199319100141244804501828416633516851200000000000000000000

In [26]:
def helloFunction():
  print("Hello")
  return
helloFunction()

Hello

In [45]:
#0,1,1,2,3,5,8,13,21,34... fibonacci series
n=int(input("enter the number"))
def series_num(n):
  if n==0:
     return 0
  elif n==1:
    return 1
  else:
    return (series_num(n-1)+series_num(n-2))
#output will be the addition of the n
print(series_num(n))
#for loop is used to print the series
for i in range (n):
  print(series_num(i))

enter the number34
5702887
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578